body {
    font-family: 'Montserrat', sans-serif;
    color: #2EBD59;
    background-image: url("../static/background.png");
}

.logo {
    font-family: 'Montserrat', sans-serif;
    color: #2EBD59;
}
