html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #2EBD59;
    background-image: url("../static/background.png");
    height: 100%;
    margin: 0px 0px 0px 0px;
}

h1 {
	font-size: 60px;
}
h3 {
	font-size: 54px;
}

.concerts{
	background: black url("../static/concertbg.png") no-repeat;
	overflow: auto;
	background-attachment: local;
}

.parent {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flex-parent {
	flex-direction: column;
}

.flex-parent-row {
	display: flex;
	flex-direction: row;
}
.flex-child-right {
	min-width: 30%;
	text-align: right;
}

.flex-child {
	min-width: 30%;
	text-align: left;
	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
  	margin-bottom: 5px;
}

.flex-child-fc {
	min-width: 30%;
	text-align: left;
  	border-right: 5px solid transparent;

}

.flex-child-lc {
	min-width: 30%;
	text-align: left;
	border-left: 5px solid transparent;

}

.Aligner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 75%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    color: #2EBD59;
}
