<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Your Artists!</title>
    <link rel="icon" type="image/png" href="../static/faviconhh.png">
    <title>SPOTISCAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='utilities.js') }}"></script>
</head>


<body class="concerts">
    <div id="the_bod">
        <h3 style="margin-left: 10px">March 1, 2016</h3>
        {% for artist in data %}
        <div class="parent">
            <div class="flex-child" style="justify-content: right;"><img style="height:200px; width:200px"
                    src={{ artist.images[0].url }}> </div>
            <div class="flex-child-right">
                <div class="flex-parent">
                    <div class="flex-child"><h4>{{ artist.name }}</h4></div>
                    <div class="flex-child"><a href="{{ locations[0]}}">Go to event</a></div>
<!--                     <div class="flex-child">
                        <div class="flex-parent-row">
                            <div class="flex-child-fc">Get Tickets</div>
                            <div class="flex-child">Track Event</div>
                            <div class="flex-child-lc">I'm going</div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
</html>