<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/faviconhh.png">
    <title>SPOTISCAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
    </script>
    <script src="../static/utilities.js"></script>
</head>

<body>
    <div class="Aligner">
        <div class="Aligner-item Aligner-item--top"></div>
        <div class="Aligner-item">
            <div class="Aligner">
                <div class="Aligner-item Aligner-item--top"></div>
                <div class="Aligner-item">
                    <h1 class="logo" style="margin-bottom: 35px">SPOTISCAN</h1>
                </div>
                <div class="Aligner-item Aligner-item--bottom"></div>
            </div>
            <a href="/auth" class="login"><img src="../static/login2.png"></img>
            </a>
        </div>
        <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
</body>

</html>
